<div class="program-new">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h6 class="text-center">Add New Program</h6>
			<%= render 'form', program: @program %>
		</div>
	</div>
</div>